@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
body {
  font-family: "Karla", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: clamp(1.1875rem, 1.53vw, 1.375rem);
  color: hsl(179deg, 62%, 43%);
  margin-bottom: 1em;
}

h2 {
  font-weight: 700;
  font-size: clamp(1.125rem, 1.25vw, 1.125rem);
  color: #fff;
  margin-bottom: 0.85em;
}

p {
  font-weight: 400;
  font-size: clamp(0.875rem, 1.11vw, 1rem);
  color: hsl(204deg, 43%, 93%);
  line-height: 1.75em;
}

b {
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

span {
  font-weight: 400;
  font-size: 1rem;
  color: hsl(204deg, 43%, 93%);
  opacity: 0.75;
  vertical-align: top;
  padding-left: 1em;
}

a {
  color: hsl(71deg, 73%, 54%);
  text-decoration: none;
}
a:visited {
  color: hsl(71deg, 73%, 54%);
}

.card__header h2 {
  font-size: clamp(0.9375rem, 1.25vw, 1.125rem);
  color: hsl(71deg, 73%, 54%);
}
.card__header p {
  color: hsl(218deg, 22%, 67%);
}
.card__left p {
  font-size: 1rem;
}
.card__right p {
  font-size: 0.875rem;
  line-height: 1.5em;
}

footer p {
  color: hsl(218deg, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  padding: 1em;
  background-color: hsl(71deg, 73%, 54%);
  border: none;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 20px hsla(214deg, 22%, 33%, 0.25);
  margin-top: 1.25em;
  transition: 0.3s ease-in-out;
}
button::after {
  content: "";
  position: absolute;
  left: -20%;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: #fff;
  animation: shine 10s ease-out infinite;
}
button:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 0 -4px rgba(192, 223, 52, 0.3764705882), 0 20px 0 -8px rgba(192, 223, 52, 0.3764705882), 0 16px 10px rgba(192, 223, 52, 0.3764705882);
}
button:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px rgba(192, 223, 52, 0.3764705882), 0 8px 0 -4px rgba(192, 223, 52, 0.3764705882), 0 12px 10px -3px rgba(192, 223, 52, 0.3764705882);
}

@keyframes shine {
  0% {
    transform: scale(0) skewX(-20deg);
    opacity: 0;
  }
  89% {
    transform: scale(0) skewX(-20deg);
    opacity: 0.5;
  }
  90% {
    transform: scale(1) skewX(-20deg);
    opacity: 1;
  }
  100% {
    transform: scale(80) skewX(-20deg);
    opacity: 0;
  }
}
body {
  background-color: hsl(204deg, 43%, 93%);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto min-content;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .card {
  background-color: #fff;
  width: clamp(min(100%, 19.4375rem), 44.1vw, 39.6875rem);
  border-radius: 8px;
  box-shadow: 0 10px 20px hsla(214deg, 22%, 33%, 0.25);
  margin: min(8.5vw, 32px);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, fit-content);
}
body main .card__header {
  grid-column-start: span 2;
  padding: clamp(25px, 2.8vw, 40px);
}
body main .card__left {
  background-color: hsl(179deg, 62%, 43%);
  padding: clamp(25px, 2.8vw, 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .card__left div {
  margin: 0.5em 0;
}
body main .card__right {
  background-color: hsl(179deg, 62%, 43%);
  opacity: 0.9;
  padding: clamp(25px, 2.8vw, 40px);
}
body footer {
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    grid-template-rows: repeat(3, fit-content);
  }
  .card__left {
    grid-column-start: span 2;
  }
  .card__right {
    grid-column-start: span 2;
  }
}/*# sourceMappingURL=style.css.map */