body {
    font-family: $ft-fy;
}

h1 {
    @include font($ft-wt-bold, $ft-sz-h1, $clr-cyan);
    margin-bottom: 1em;
}

h2 {
    @include font($ft-wt-bold, $ft-sz-h2, $clr-white);
    margin-bottom: 0.75em;
}

p {
    @include font($ft-wt-regular, $ft-sz-body, $clr-gray);
    line-height: 1.25em;
}

b {
    @include font($ft-wt-bold, $ft-sz-b, $clr-white);
}

span {
    @include font($ft-wt-regular, $ft-sz-body, $clr-gray);
    opacity: 0.75;
    vertical-align: top;
    padding-left: 1em;
}

a {
    color: $clr-yellow;
    text-decoration: none;
    &:visited {
        color: $clr-yellow;
    }
}

.card {
    &__header {
        h2 {
            color: $clr-yellow;
        }
        p {
        color: $clr-blue;
        line-height: 1.75em;
        }
    }
    &__left {
        p {
            margin: 0.5em 0;
        }
    }
}