@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$clr-cyan: hsl(179, 62%, 43%);
$clr-yellow: hsl(71, 73%, 54%);
$clr-blue: hsl(218, 22%, 67%);
$clr-gray: hsl(204, 43%, 93%);
$clr-white: #fff;

$ft-fy: 'Karla', sans-serif;

$ft-wt-bold: 700;
$ft-wt-regular: 400;

$ft-sz-h1: 2rem;
$ft-sz-h2: 1.5rem;
$ft-sz-h3: 1.5rem;
$ft-sz-body: 1rem;
$ft-sz-b: 2.5rem;